.bookItem{
    border: 1px aqua solid;
    width: 250px;
    height: 300px;
    display: flex;
    flex-direction: column;
     /* position: relative; */
    padding-bottom: 10px;
    margin: 30px;

}
.bookItem img{
    width: 20opx;
    height: 140px;
    padding: 20px;
    margin-bottom: 30px;
    /* margin-top: 10px; */

}
.bookItem .title,.auther{
   color: #078a9e;
   margin-left: 10px;
}
.title{
    font-size: 20px;
}
.auther{

}
.trendingNumber{
    background-color: orange;
    width: 20px;
    border-radius: 5px;
    border-bottom-right-radius: 20px;
    padding: 5px;
}